h1, h2, h3, h4, h5, h6, p, div, span, input, form {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem
}

header {
  border-bottom: solid 1px #ccc;
  padding: 5px 0; 
}

.logo {
  width: 58px;
}

.stock-picker {
  margin-top: 50px;
}

label {
  text-transform: uppercase;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

button {
  margin-top: 11px;
}
